@import "./mixins";

.creations {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
  }

  button {
    order: 1;
  }

  .item {
    position: relative;
    margin-bottom: 1.5em;

    img {
      width: 100%;
    }
  }

  .grid {
    width: 100vw;
  }

  .see-all {
    margin: 2em 5.25em 0;
    height: 2.5em;
    width: 10em;
    color: black;
    background: white;
    border: 2px solid black;
    font-weight: bolder;
  }
}
