@import "./mixins";

.creations {
  display: flex;
  flex-direction: column;
  align-items: center;

  .item-container {
    display: flex;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      gap: 0 2em;
    }
  }

  @include desktop-small {
    justify-content: space-between;
  }

  .item {
    position: relative;
    margin-bottom: 1.5em;

    @include desktop-small {
      max-width: 254px;
    }

    img {
      width: 100%;
    }
  }

  .grid {
    width: 100vw;
  }

  .see-all {
    margin: 2em 5.25em 0;
    height: 2.5em;
    width: 10em;
    color: black;
    background: white;
    border: 2px solid black;
    font-weight: bolder;
    order: 1;

    @include desktop-small {
      order: 0;
      margin: 0;
      position: absolute;
      right: 6em;
    }

    @include desktop {
      right: 12em;
    }
  }
}
