@import "./mixins";

footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: black;

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2.5em 10em;
    gap: 2em 0;
    align-items: flex-start;

    padding-bottom: 1em;

    > * {
      flex: 50%;
    }
  }

  .footer-logo {
    margin-top: 3.5em;
    width: 9em;
    cursor: pointer;

    @include desktop {
      margin-top: 0;
      flex-grow: 0;
    }
  }

  nav {
    display: flex;
    flex-direction: column;
    margin-top: 2.75em;
    justify-content: center;

    @include tablet-portrait {
      flex-direction: row;
      gap: 0 2em;
    }

    li {
      height: 0.75rem;
      margin-bottom: 2em;
    }

    @include desktop {
      justify-content: flex-start;
      margin-top: 0;
      gap: 0 3em;
    }
  }

  .social-media {
    order: 1;
    display: flex;
    height: 1.75em;
    margin: 2em 0 2em;

    li {
      margin: 0 0.75em;
      width: 2em;

      img {
        margin: 0;
        height: 1.75em;
        width: 2em;

        @include desktop {
          height: 1.5em;
          width: 1.5em;
        }
      }
    }

    @include desktop {
      order: 0;
      justify-content: flex-end;
      margin: 0;
      align-self: flex-end;
    }
  }

  .copyright-info {
    order: 2;
    margin-bottom: 3.8em;

    @include desktop {
      margin-bottom: 0;
      text-align: right;
    }
  }
}

footer .social-media li {
  @include desktop {
    margin: 0;
    margin-left: 1em;
    width: 1.5em;
  }
}
