@import "./mixins";

header {
  background-image: url("/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;

  height: 653px;
  box-sizing: border-box;
  padding: 2.5em 1.5em;

  @include tablet-portrait {
    background-image: url("/images/desktop/image-hero.jpg");
    padding-left: min(10%, 165px);
  }

  @include desktop {
    padding: 4em 10em 0;
  }

  nav {
    display: none;
    position: absolute;
    width: calc(100% + 1em);
    height: 667px;
    box-sizing: border-box;
    background-color: black;
    color: white;
    left: -1em;
    top: -11px;

    padding-left: 2.5em;
    padding-top: 14em;

    @include tablet-portrait {
      display: flex;
      justify-content: space-between;
      width: 386px;
      transform: translateX(25%);
      height: unset;
      background-color: unset;
      left: 0;
      top: 4.5em;
      padding: 0;
    }

    @include tablet {
      position: unset;
      justify-content: unset;
      width: unset;
      transform: unset;
    }

    & li {
      margin-bottom: 2em;

      @include tablet-portrait {
        margin: 0.5em;
        font-family: "Alata", "san-serif";
        text-transform: none;
        font-size: 1rem;
      }

      @include desktop {
        margin: 0;
        margin-left: 2em;
      }
    }

    img {
      position: absolute;
      top: 2.55em;
      left: 2.2em;

      @include tablet-portrait {
        display: none;
      }
    }
  }
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger-icon {
  width: 1.5em;
  height: 1em;
}

.res-menu {
  &-input {
    opacity: 0;
    z-index: 1;

    &:checked ~ nav {
      display: block;
    }
  }

  &-label {
    position: relative;
    margin-left: auto;
    cursor: pointer;
    z-index: 2;

    & img {
      position: absolute;
      top: -0.5em;
      left: -1em;

      @include tablet-portrait {
        display: none;
      }
    }
  }
}
