@import "./mixins";

.intro {
  position: relative;

  &-info {
    @include desktop {
      box-sizing: border-box;
      position: absolute;
      width: 544px;
      right: 10.5em;
      top: 12.8em;
      padding: 5em;
      padding-right: 0;
      background: white;
    }
  }

  & p {
    margin: 2em 2.125em 0;
    text-align: center;

    @include desktop {
      text-align: left;
      margin-left: 0;
    }
  }

  & img {
    width: 100%;
    max-width: 727px;
    margin-bottom: 3em;

    @include desktop-small {
      width: 60%;
      max-width: 727px;
    }

    @include desktop {
      width: 727px;
    }
  }
}
