@import "./mixins";

header {
  margin-bottom: 6.25em;
}

section {
  margin-bottom: 6.25em;
  padding: 0 1em;

  @include mobile-landscape {
    padding: 0 3em;
  }

  @include tablet-portrait {
    padding: 0 5em;
  }

  @include desktop {
    padding: 0 10em;
  }

  &.intro {
    @include tablet {
      padding: 0 8em;
    }

    @include desktop-small {
      display: flex;
      padding: 0 5em;
    }

    @include desktop {
      padding: 0 10em;
    }
  }
}
