@import "./mixins";
// font-family: 'Alata', sans-serif;
// font-family: 'Josefin Sans', sans-serif;

h1,
h2,
h3,
.see-all,
.main-nav nav {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  letter-spacing: 5px;
  line-height: 2.25rem;
  color: white;

  box-sizing: border-box;
  margin: 5em 0 0;
  border: 2px solid white;
  padding: 1em;

  @include mobile-landscape {
    font-size: 2.25rem;
    line-height: 2.5rem;
    width: 432px;
  }

  // @include tablet-portrait {
  //   // width: 12ch;
  // }
}

h2 {
  font-size: 2rem;
  line-height: 2.125rem;
  text-align: center;
}

.creations h2 {
  margin-bottom: 1.75em;

  @include tablet {
    width: 100%;
  }
}

h3 {
  font-size: 1.5rem;
  color: white;
}

.item h3 {
  position: absolute;
  bottom: 1.15em;
  left: 1em;
  width: 6em;
}

p {
  font-family: "Alata", sans-serif;
  color: hsl(0, 0%, 55%);
  line-height: 1.75em;
  font-weight: 400;
  font-size: 15px;
}

.main-nav nav {
  font-size: 1.25rem;
}

footer nav li {
  font-family: "Alata", sans-serif;
  color: white;
}
