body,
* {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

header {
  margin-bottom: 6.25em;
}

section {
  margin-bottom: 6.25em;
  padding: 0 1em;
}
@media (min-width: 480px) {
  section {
    padding: 0 3em;
  }
}
@media (min-width: 600px) {
  section {
    padding: 0 5em;
  }
}
@media (min-width: 1440px) {
  section {
    padding: 0 10em;
  }
}
@media (min-width: 768px) {
  section.intro {
    padding: 0 8em;
  }
}
@media (min-width: 1024px) {
  section.intro {
    display: flex;
    padding: 0 5em;
  }
}
@media (min-width: 1440px) {
  section.intro {
    padding: 0 10em;
  }
}

h1,
h2,
h3,
.see-all,
.main-nav nav {
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 2rem;
  letter-spacing: 5px;
  line-height: 2.25rem;
  color: white;
  box-sizing: border-box;
  margin: 5em 0 0;
  border: 2px solid white;
  padding: 1em;
}
@media (min-width: 480px) {
  h1 {
    font-size: 2.25rem;
    line-height: 2.5rem;
    width: 432px;
  }
}
@media (min-width: 1440px) {
  h1 {
    font-size: 3.5rem;
    margin: 2.25em 0 0;
    line-height: 3.75rem;
    width: 652px;
    padding: 0.85em;
    padding-right: 2em;
  }
}

h2 {
  font-size: 2rem;
  line-height: 2.125rem;
  text-align: center;
}
@media (min-width: 1440px) {
  h2 {
    text-align: left;
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
}

.creations h2 {
  margin-bottom: 1.75em;
}
@media (min-width: 768px) {
  .creations h2 {
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .creations h2 {
    text-align: left;
    align-self: start;
    width: 50%;
  }
}

h3 {
  font-size: 1.5rem;
  color: white;
}

.item h3 {
  position: absolute;
  bottom: 1.15em;
  left: 1.75em;
  width: 6em;
}
@media (min-width: 1440px) {
  .item h3 {
    font-size: 1.75rem;
    line-height: 1.85rem;
  }
}

p {
  font-family: "Alata", sans-serif;
  color: #8c8c8c;
  line-height: 1.75em;
  font-weight: 400;
  font-size: 15px;
}

.main-nav nav {
  font-size: 1.25rem;
}

footer nav li {
  font-family: "Alata", sans-serif;
  color: white;
}

header {
  background-image: url("/images/mobile/image-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 653px;
  box-sizing: border-box;
  padding: 2.5em 1.5em;
}
@media (min-width: 600px) {
  header {
    background-image: url("/images/desktop/image-hero.jpg");
    padding-left: min(10%, 165px);
  }
}
@media (min-width: 1440px) {
  header {
    padding: 4em 10em 0;
  }
}
header nav {
  display: none;
  position: absolute;
  width: calc(100% + 1em);
  height: 667px;
  box-sizing: border-box;
  background-color: black;
  color: white;
  left: -1em;
  top: -11px;
  padding-left: 2.5em;
  padding-top: 14em;
}
@media (min-width: 600px) {
  header nav {
    display: flex;
    justify-content: space-between;
    width: 386px;
    transform: translateX(25%);
    height: unset;
    background-color: unset;
    left: 0;
    top: 4.5em;
    padding: 0;
  }
}
@media (min-width: 768px) {
  header nav {
    position: unset;
    justify-content: unset;
    width: unset;
    transform: unset;
  }
}
header nav li {
  margin-bottom: 2em;
}
@media (min-width: 600px) {
  header nav li {
    margin: 0.5em;
    font-family: "Alata", "san-serif";
    text-transform: none;
    font-size: 1rem;
  }
}
@media (min-width: 1440px) {
  header nav li {
    margin: 0;
    margin-left: 2em;
  }
}
header nav img {
  position: absolute;
  top: 2.55em;
  left: 2.2em;
}
@media (min-width: 600px) {
  header nav img {
    display: none;
  }
}

.main-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.hamburger-icon {
  width: 1.5em;
  height: 1em;
}

.res-menu-input {
  opacity: 0;
  z-index: 1;
}
.res-menu-input:checked ~ nav {
  display: block;
}
.res-menu-label {
  position: relative;
  margin-left: auto;
  cursor: pointer;
  z-index: 2;
}
.res-menu-label img {
  position: absolute;
  top: -0.5em;
  left: -1em;
}
@media (min-width: 600px) {
  .res-menu-label img {
    display: none;
  }
}

.intro {
  position: relative;
}
@media (min-width: 1440px) {
  .intro-info {
    box-sizing: border-box;
    position: absolute;
    width: 544px;
    right: 10.5em;
    top: 12.8em;
    padding: 5em;
    padding-right: 0;
    background: white;
  }
}
.intro p {
  margin: 2em 2.125em 0;
  text-align: center;
}
@media (min-width: 1440px) {
  .intro p {
    text-align: left;
    margin-left: 0;
  }
}
.intro img {
  width: 100%;
  max-width: 727px;
  margin-bottom: 3em;
}
@media (min-width: 1024px) {
  .intro img {
    width: 60%;
    max-width: 727px;
  }
}
@media (min-width: 1440px) {
  .intro img {
    width: 727px;
  }
}

.creations {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.creations .item-container {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .creations .item-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 2em;
  }
}
@media (min-width: 1024px) {
  .creations {
    justify-content: space-between;
  }
}
.creations .item {
  position: relative;
  margin-bottom: 1.5em;
}
@media (min-width: 1024px) {
  .creations .item {
    max-width: 254px;
  }
}
.creations .item img {
  width: 100%;
  filter: brightness(75%);
}
.creations .grid {
  width: 4em;
}
.creations .see-all {
  margin: 2em 5.25em 0;
  height: 2.5em;
  width: 10em;
  color: black;
  background: white;
  border: 2px solid black;
  font-weight: bolder;
  order: 1;
}
@media (min-width: 1024px) {
  .creations .see-all {
    order: 0;
    margin: 0;
    position: absolute;
    right: 6em;
  }
}
@media (min-width: 1440px) {
  .creations .see-all {
    right: 12em;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
}
@media (min-width: 1440px) {
  footer {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 2.5em 10em;
    gap: 2em 0;
    align-items: flex-start;
    padding-bottom: 1em;
  }
  footer > * {
    flex: 50%;
  }
}
footer .footer-logo {
  margin-top: 3.5em;
  width: 9em;
}
@media (min-width: 1440px) {
  footer .footer-logo {
    margin-top: 0;
    flex-grow: 0;
  }
}
footer nav {
  display: flex;
  flex-direction: column;
  margin-top: 2.75em;
  justify-content: center;
}
@media (min-width: 600px) {
  footer nav {
    flex-direction: row;
    gap: 0 2em;
  }
}
footer nav li {
  height: 0.75rem;
  margin-bottom: 2em;
}
@media (min-width: 1440px) {
  footer nav {
    justify-content: flex-start;
    margin-top: 0;
    gap: 0 3em;
  }
}
footer .social-media {
  order: 1;
  display: flex;
  height: 1.75em;
  margin: 2em 0 2em;
}
footer .social-media li {
  margin: 0 0.75em;
  width: 2em;
}
footer .social-media li img {
  margin: 0;
  height: 1.75em;
  width: 2em;
}
@media (min-width: 1440px) {
  footer .social-media li img {
    height: 1.5em;
    width: 1.5em;
  }
}
@media (min-width: 1440px) {
  footer .social-media {
    order: 0;
    justify-content: flex-end;
    margin: 0;
    align-self: flex-end;
  }
}
footer .copyright-info {
  order: 2;
  margin-bottom: 3.8em;
}
@media (min-width: 1440px) {
  footer .copyright-info {
    margin-bottom: 0;
    text-align: right;
  }
}

@media (min-width: 1440px) {
  footer .social-media li {
    margin: 0;
    margin-left: 1em;
    width: 1.5em;
  }
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
